<section id="experience" class="section">
    <h2>Experience</h2>
    <!-- <div>
        <h3>Frontend Developer - XYZ Company</h3>
        <p>Worked on a team to build user-centric applications and enhance the digital experience for over 10,000 users. Specialized in responsive design and code optimization.</p>
    </div>
    <div>
        <h3>UI Designer - ABC Agency</h3>
        <p>Designed engaging interfaces for clients in tech and lifestyle industries, focusing on brand consistency and intuitive navigation.</p>
    </div> -->
    <h6>Come back later when I update this section!</h6>
</section>
