<section id="projects" class="section">
    <h2>Selected Projects</h2>
    <!-- <ul class="projects-list">
        <li>
            <h3>Project One</h3>
            <p>A web app that allows users to track their habits and visualize their progress. Created with React and Node.js.</p>
        </li>
        <li>
            <h3>Project Two</h3>
            <p>An e-commerce site with a focus on minimalism and user experience. Developed with HTML, CSS, and JavaScript.</p>
        </li>
    </ul> -->
    <h6>Come back later when I update this section!</h6>
</section>
